{% extends "idea/base.html" %}

{% block content %}
<div class="container">   
    <h1 class="mt-5">Добро пожаловать в FunFlow</h1><p> — ваше идеальное место для поиска вдохновения и идей для свободного времени!</p>
        <p class="lead"> Мы понимаем, как сложно иногда найти интересное занятие, когда есть свободные часы. Современная жизнь полна стрессов, и каждому из нас необходимо время, чтобы расслабиться, заняться любимым делом или попробовать что-то новое. Именно поэтому мы создали FunFlow — платформу, которая помогает вам легко и быстро находить развлечения и увлечения, подходящие именно вам.
    
            <h1>Что мы предлагаем?</h1>
            
            В FunFlow вы найдете разнообразные идеи для проведения свободного времени: от увлекательных хобби до необычных мероприятий, от спокойного отдыха до активного времяпрепровождения. Независимо от того, сколько у вас свободного времени — несколько минут или целый выходной, мы поможем вам найти что-то интересное и полезное.
            <h1>Наши ценности</h1>
            <ul>
                <li>
            Индивидуальный подход: Мы знаем, что каждый человек уникален, и наши идеи созданы для того, чтобы удовлетворить самые разные интересы и предпочтения. Хотите расслабиться за чтением книги, научиться готовить экзотическое блюдо или провести день на природе? FunFlow предложит вам идеи, которые подойдут именно вам.
                </li>
            Качество и креативность: Мы стремимся предлагать только самые лучшие и интересные идеи. Наша команда регулярно обновляет и добавляет новый контент, чтобы вы всегда могли найти что-то свежее и увлекательное.
                <li>
            Сообщество: FunFlow — это не просто набор идей, это место, где пользователи могут делиться своими находками, оставлять отзывы и вдохновлять друг друга. В нашем сообществе вы сможете не только найти идеи, но и поделиться своими впечатлениями, помочь другим людям найти что-то по душе.
                </li>
            </ul>
            <h1>Почему мы?</h1>
            
            Мы верим, что каждый заслуживает того, чтобы получать удовольствие от жизни, независимо от того, сколько у него свободного времени. FunFlow создан для того, чтобы помочь вам сделать ваш досуг насыщенным и запоминающимся. Мы стремимся к тому, чтобы каждое ваше свободное мгновение было наполнено радостью, новыми открытиями и приятными эмоциями.
            
            Присоединяйтесь к FunFlow и позвольте нам помочь вам сделать ваше свободное время по-настоящему интересным и ярким!</p>
</div>
{% endblock content %}